<section ng-controller="HomeController">
  <div class="row">
    <div class="col-sm-6" ng-repeat="tv in topView">
      <div class="row">
        <div class="col-xs-4">
          <h1 class=" pull-right">
              <button type="button" class="btn" ng-class="tv.color">
                  <i class="glyphicon" ng-class="tv.icon"></i>
              </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h1>{{tv.total}}</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
              <span class="text-muted">{{tv.description}}</span>
          </div>
      </div>
    </div>
  </div>
</section>
